h1 {
  color: red;
}

form {
  border: 3px solid #adadad;
  width: 50%;
  padding: 20px;
}

label {
  display: inline;
}

button[type="submit"] {
  background-color: rgb(53, 156, 53);
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
  color: white;
}

.err {
  color: red;
}
